@import url('https://fonts.googleapis.com/css2?family=League+Spartan&family=Roboto+Slab&display=swap');

$primaryColor: #4877b6;
$background: #FCF9EA;

.Home {
    background-color: $background;
    align-items: center;
}

.Header {
    font-family: "League Spartan", sans-serif;
    text-align: center;
    padding-bottom: 25px;
    padding-top: 5px;
    color: $primaryColor;
}

.subHeader {
    font-family: "League Spartan", sans-serif;
    text-align: center;
    padding-bottom: 25px;
    padding-top: 25px;
    color: $primaryColor;
}

.input {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 25px;
    font-size: 50px;
    position: absolute;
}

.container {
    padding: 50px 0 25px 0px;
}

.form-container {
    width: 360px;
    margin: auto;
}

.logo {
    height: 20%;
    width: 20%;
    float:right;
}

.image {
    width: 20%;
    margin: auto;
    padding-top: 20px;
}

.imageContainer {
    display: flex;
    justify-content: center;
}

.button {
    padding-top: 25px;
}

.footer {
    margin:auto;
    padding-top: 50px;
    align-self: center;
}